<#@ template language="C#" inherits="BaseCSharpWpfMvvmTemplate" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="OzzCodeGen.Definitions" #>
<#@ import namespace="OzzCodeGen.CodeEngines" #>
<#@ import namespace="OzzCodeGen.Templates.Cs" #>
<#@ import namespace="OzzCodeGen.CodeEngines.Mvvm" #>
<#@ import namespace="OzzUtils" #>
<#
    var properties = GetIncludedProperties().ToList();
    var foreignLookupEntities = GetForeignLookupEntities();
    var preselectProperties = GetPreselectProperties();
    WriteUsingNamespaces(); #>

namespace <#= GetNamespace() #>
{
    // Codebehind for <#= GetClassName() #>.xaml
    public partial class <#= GetClassName() #> : <#= GetBaseClassName() #>
    {
        private readonly <#= GetViewModelClassName() #> _viewModel;
<#  if (IsCreate) { #>
<#      foreach (var property in preselectProperties) { #>
        private <#= property.GetTypeName(getReturnType: true) #>? _preselected<#= property.Name #>;
<#      } #>
<#  } #>

<#  if (IsCreateOrEdit) { #>
        public <#= EntitySetting.Name #> <#= EntitySetting.Name #> => _viewModel.<#= EntitySetting.Name #>;
<#  } #>

<#  if (IsCreate && HasLookupOrPreselectProperties()) { #>
        /// <summary>
        /// This constructor should not be called, but we need it for the designer to work.
        /// </summary>
        /// <remarks>This constructor creates a dummy <#= EntitySetting.Name #> for the designer.</remarks>
        public <#= GetClassName() #>() : this(<#= GetShowViewParams(isDesignTime:true) #>)
        {

        }

        /// <summary>
        /// This constructor should be used at runtime to create the view with a real <#= EntitySetting.Name #>.
        /// </summary>
        /// <param name="<#= EntitySetting.Name.ToCamelCase() #>">The real <#= EntitySetting.Name #> to be used by the view.</param>
        public <#= GetClassName() #>(<#= GetShowViewParams(isDeclaration:true) #>)
        {
            InitializeComponent();

            _viewModel = new <#= GetViewModelClassName() #>(<#= GetVmConstructorParams() #>);
            DataContext = _viewModel;
<#      foreach (var property in preselectProperties) { #>
            _preselected<#= property.Name #> = preselected<#= property.Name #>;
<#      } #>
            SourceInitialized += <#= GetClassName() #>_SourceInitialized;
        }
<#  } else if (IsCreate) {  #>
        public <#= GetClassName() #>()
        {
            InitializeComponent();

            _viewModel = new <#= GetViewModelClassName() #>();
            DataContext = _viewModel;
            SourceInitialized += <#= GetClassName() #>_SourceInitialized;
        }
<#  } #>
<#  if (IsEdit) { #>
        /// <summary>
        /// This constructor should not be called, but we need it for the designer to work.
        /// </summary>
        /// <remarks>This constructor creates a dummy <#= EntitySetting.Name #> for the designer.</remarks>
        public <#= GetClassName() #>()
        {
            InitializeComponent();

            _viewModel = new <#= GetViewModelClassName() #>(new <#= EntitySetting.Name #>());
            _isDirty = _viewModel;
            DataContext = _viewModel;
            SourceInitialized += <#= GetClassName() #>_SourceInitialized;
        }

        /// <summary>
        /// This constructor should be used at runtime to create the view with a real <#= EntitySetting.Name #>.
        /// </summary>
        /// <param name="<#= EntitySetting.Name.ToCamelCase() #>">The real <#= EntitySetting.Name #> to be used by the view.</param>
        public <#= GetClassName() #>(<#= GetShowViewParams(isDeclaration:true) #>) : base(new <#= GetViewModelClassName() #>(<#= EntitySetting.Name.ToCamelCase() #>))
        {
            InitializeComponent();
            _viewModel = (<#= GetViewModelClassName() #>)DataContext;
        }
<#  } #>
<#  if (IsDetail) { #>
        /// <summary>
        /// This constructor should not be called, but we need it for the designer to work.
        /// </summary>
        /// <remarks>This constructor creates a dummy <#= EntitySetting.Name #> for the designer.</remarks>
        public <#= GetClassName() #>()
        {
            InitializeComponent();

            _viewModel = new <#= GetViewModelClassName() #>();
            DataContext = _viewModel;
            SourceInitialized += <#= GetClassName() #>_SourceInitialized;
        }

        /// <summary>
        /// This constructor should be used at runtime to create the view with a real <#= EntitySetting.Name #>.
        /// </summary>
        /// <param name="<#= EntitySetting.Name.ToCamelCase() #>">The real <#= EntitySetting.Name #> to be used by the view.</param>
        public <#= GetClassName() #>(<#= GetViewModelClassName() #> <#= GetViewModelClassName().ToCamelCase() #>)
        {
            InitializeComponent();

            _viewModel = <#= GetViewModelClassName().ToCamelCase() #>;
            DataContext = _viewModel;
            SourceInitialized += <#= GetClassName() #>_SourceInitialized;
        }
<#  } #>

        private async void <#= GetClassName() #>_SourceInitialized(object? sender, EventArgs e)
        {
<#  foreach (var lookupEntity in foreignLookupEntities) { #>
            try
            {
                await _viewModel.Load<#= lookupEntity.Name.Pluralize() #>Async();
            }
            catch (Exception ex)
            {
                MessageBox.Show($"Load exchanges failed.\n{ex.Message}", "Ozz Trade Diary", MessageBoxButton.OK, MessageBoxImage.Error);
            }
<#  } #>
<#  foreach (var property in preselectProperties) { #>
            if (_preselected<#= property.Name #> != null)
            {
                _viewModel.<#= property.Name #>Id = _preselected<#= property.Name #>.Id;
            }
<#  } #>
            OnSourceInitialized();
        }
        partial void OnSourceInitialized();
<#  if (IsCreateOrEdit) { #>
<#      if (HasAnyDecimalNumeric) { #>

        private void DecimalTextBox_Pasting(object sender, DataObjectPastingEventArgs e)
        {
            if (sender is not TextBox tb)
                return;
            if (e.DataObject.GetDataPresent(typeof(string)))
            {
                var pasteText = (string)e.DataObject.GetData(typeof(string));
                var proposed = tb.Text.Remove(tb.SelectionStart, tb.SelectionLength).Insert(tb.SelectionStart, pasteText);
                var decimalSeparator = CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator;
                if (!Regex.IsMatch(proposed, @"^-?\d*(" + Regex.Escape(decimalSeparator) + @"\d*)?$"))
                {
                    e.CancelCommand();
                }
            }
            else
            {
                e.CancelCommand();
            }
        }

        private void DecimalTextBox_PreviewTextInput(object sender, TextCompositionEventArgs e)
        {
            if (sender is not TextBox tb)
                return;

            var decimalSeparator = CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator;
            var proposed = tb.Text.Remove(tb.SelectionStart, tb.SelectionLength).Insert(tb.SelectionStart, e.Text);
            e.Handled = !Regex.IsMatch(proposed, @"^-?\d*(" + Regex.Escape(decimalSeparator) + @"\d*)?$");
        }
<#      }
        if (HasAnyIntegerNumeric) { #>

        private void IntegerTextBox_PreviewTextInput(object sender, TextCompositionEventArgs e)
        {
            if (sender is not TextBox tb)
                return;

            e.Handled = !char.IsDigit(e.Text, 0);
        }
<#      } #>

        private void OkButton_Click(object sender, RoutedEventArgs e)
        {
            if (!_viewModel.ValidateModel())
                return;

            DialogResult = true;
        }
<#  } #>
    }
}